<ul>
<% @surfboards.each do |surfboard| %>
  <li>
    <p> <%= link_to surfboard.name, surfboard_path(surfboard) %> </p>
    <p> <%= surfboard.details %> </p>
    <p> <%= surfboard.price %> </p>
  </li>
<%end%>
 </ul>
<div>
 <%= link_to "Create Surfboard", new_surfboard_path %>
</div>
