<div class="not-found-page" style="text-align: center; margin-top: 70px; font-size: 3em">
  <strong class="message-not-found">Oops..we haven't made this one yet!!</strong>
  <%= link_to "how about you create it", new_surfboard_path %>
  <%= cl_image_tag("broken_h1kupx", width: 260, height: 350, crop: :fill) %>
</div>

